.widget_init
    {
      float: left;
      width: 33px;
      margin: 10px;
      font-size: 10px;
    }
    .widget_init img
    {
      width: 100%;
    }
    .widget_container
    {
      min-height: 400px;
    }
    
    .widgetdragable
    {
      position: absolute;
      overflow: hidden;
    }
    .row img
    {
      max-width: 100%;
      margin: auto;
    }
    .w_list
    {
      height: auto;
      border: 1px solid grey;
    }
    .mn-height
    {
     
      border: 1px solid grey;
      min-height: 100px;
      position: relative;
      
    }
    
    .dottedborder
    {
      border: 1px dotted grey;
    }
    .column_edit_area
    {
      position: relative;
      left: 0;
      top: 0;
      width: 40%;
      height: auto;
      background-color: #FFFFCC;
      padding: 5px;
      z-index: 99;
      display: none;
    }
    .trigger_column_edit_area
    {
      position: relative;
      left: 0;
      top: -54px;
      width: auto;
      height: auto;
      z-index: 99;
      display: none;
    }
    .column-panel:hover .trigger_column_edit_area
    {
      display: block;
    }

    .trigger_edit_area
    {
      position: absolute;
      left: 50%;
      top: -54px;
      width: auto;
      height: auto;
      z-index: 99;
      display: none;
    }
    .widget-panel:hover .trigger_edit_area
    {
      display: block;
    }
    .widget_edit_area
    {
      display: none;
      position: absolute;
      right: 0;
      top: 0;
      width: auto;
      height: auto;
      background-color: #FFFFCC;
      padding: 5px;
      z-index: 99;
    }
    
    .json_container
    {
      width:100%;
      height: 100px;
      margin-top: 20px;
    }
    .fileinput-button {
    position: relative;
    overflow: hidden;
}
/*Also*/
 .fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter:'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}
.upload_button_container
{
  position: absolute;
  z-index: 99;
  left: 0;
  bottom: 0;
}
.delete_button_container
{
  position: absolute;
  z-index: 99;
  right: 0;
  top: 0;
}
.clear
{
  clear: both;
}

[contenteditable] {
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    -o-user-select: auto;
    user-select: auto;
}

.edit-mode {
    overflow-x: hidden;
    padding: 100px 0 0;
}


[contenteditable]:focus {
    outline:none !important;
}

[tx-contenteditable]:hover {

    cursor:pointer;
    -webkit-transition:0;
    -moz-transition:0;
    -o-transition:0;
    transition:0;
}
.cons
{
  
}
.editable
{
  border-bottom: none !important;
}
.bs-glyphicons-list li
{
  list-style: none;
  float: left;
}
.float-right
{
  float: right;
}
#rows_panel
{
  display: none;
}
#column_panel
{
  display: none;
}
#widget_panel
{
  display: none;
}
.dragholder
{
  cursor:move;
}
.row_edit_area
{
  position: relative;
  width: auto;
  height: auto;
  z-index: 99;
}
.posleft
{
  left: 30px;
  top:0;
}
.posright
{
  right: 0;
  top:0;
}

.row-panel:hover .row_edit_area
{
  display: block;
}
.row:hover .row_edit_area
{
  display: block;
}
.full-width
{
  width: 100%;
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px; 
}
.tabcontainer
{
  margin-top: 20px;
}
.scroll-height
{
  height: 250px;
  overflow: scroll;
}
.colorpicker
{
  z-index: 9999;
}
.form-container
{
  padding: 20px;
}
.ta-editor {
  min-height: 300px;
  height: auto;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
}
.edit-button-width
{
  min-width: 100px !important;
}
.slider_image_upload
{
  display: none;
}
.text-align-center{text-align: center;margin-bottom: 20px;}
.round-image-container{width: 140px; height: 140px;margin: auto;}
.image-conf-wrapper{position: relative;}
.widget-image-conf
{
  position: absolute;
  left: 10%;
  top:-40px;
  display: none;
}
.image-conf-wrapper:hover .widget-image-conf
{
  display: block;
}
.member-profile-pic:hover .widget-image-conf
{
  display: block;
}

.tab-about-image:hover .widget-image-conf
{
  display: block;
}



.full-width img
{
  width: 100%;
}
.nav-settings
{
  right: 12px;
  top: 12px;
  position: absolute;
  width: 110px;
  display: none;
}
nav:hover .nav-settings
{
  display: block;
}
.language:hover .nav-settings
{
  display: block;
}
.nav-container1:hover .nav-settings
{
  display: block;
}
.link-width
{
  width: 50px;
}
.min-nav-width
{
  width: 104px;
}


/* Modules */
/* ====================================================== */

/* PLugins */
/* ====================================================== */
/* Style */
/* ====================================================== */
.generator {
  position: relative;
  line-height: 20px;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}
.generator * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.generator *:before,
.generator *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.generator-megamenu {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0 60px;
  width: 100%;
  z-index: 9999;
}
.generator-megamenu > a {
  display: block;
  position: absolute;
  top: 0;
  width: 60px;
  height: 60px;
  background: #5dade0;
  color: #ffffff;
  line-height: 60px;
  text-align: center;
  font-size: 20px;
  transition: all 0.25s ease-in-out;
}
.generator-megamenu > a.settings {
  left: 0;
  border-right: 1px solid #34495e;
}
.generator-megamenu > a.sidebar-toggle {
  right: 0;
  border-left: 1px solid #34495e;
}
.generator-megamenu > a:hover {
  background: #278aca;
}
.generator-megamenu > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
  height: 60px;
  background: #34495e;
}
.generator-megamenu > ul:before,
.generator-megamenu > ul:after {
  content: " ";
  display: table;
}
.generator-megamenu > ul:after {
  clear: both;
}
.generator-megamenu > ul:before,
.generator-megamenu > ul:after {
  content: " ";
  display: table;
}
.generator-megamenu > ul:after {
  clear: both;
}
.generator-megamenu > ul > li {
  float: left;
}
.generator-megamenu > ul > li.links {
  position: relative;
}
.generator-megamenu > ul > li > a {
  position: relative;
  display: block;
  height: 60px;
  line-height: 60px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  padding: 0 25px;
  transition: all 0.25s ease-in-out;
}
.generator-megamenu > ul > li > a .fa {
  position: relative;
  color: #b9c8d8;
  font-size: 14px;
  margin-right: 5px;
  top: 0px;
}
.generator-megamenu > ul > li > a .fa.fa-arrows-h,
.generator-megamenu > ul > li > a .fa.fa-image,
.generator-megamenu > ul > li > a .fa.fa-level-down {
  top: -1px;
}
.generator-megamenu > ul > li > div {
  position: absolute;
  display: block;
  bottom: 100%;
  left: 0;
  width: 100%;
  padding: 20px;
  background: #f9f9f9;
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s ease-in-out 0.15s;
}
.generator-megamenu > ul > li > ul {
  position: absolute;
  display: block;
  bottom: 100%;
  left: 0;
  background: #f9f9f9;
  list-style: none;
  margin: 0;
  padding: 15px 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s ease-in-out 0.15s;
  width: 200px;
}
.generator-megamenu > ul > li > ul > li {
  display: block;
}
.generator-megamenu > ul > li > ul > li > a {
  display: block;
  text-decoration: none;
  color: #3a3a3a;
  font-size: 14px;
  padding: 5px 20px;
}
.generator-megamenu > ul > li.links-inline > ul {
  width: 100%;
}
.generator-megamenu > ul > li.links-inline > ul > li {
  float: left;
}
.generator-megamenu > ul > li:hover > a {
  background: #5dade0;
}
.generator-megamenu > ul > li:hover > a .fa {
  color: #ffffff;
}
.generator-megamenu > ul > li:hover > div,
.generator-megamenu > ul > li:hover > ul {
  visibility: visible;
  opacity: 1;
}
.generator-sidebar {
 
  width: 375px;
  background: #f0f0f0;
  transition: all 0.25s ease-in-out;
  z-index: 2001;
}
/*.generator-sidebar.right-bar
{
  top: 0;
  right: 0;  
  transform: translateX(375px);
}
.generator-sidebar.left-bar
{
  top: 0;
  left: 0;  
  transform: translateX(-375px);
}*/
.generator-sidebar.right-bar.active {
  transform: translateX(0);
}
.generator-sidebar.left-bar.active {
  transform: translateX(0);
}
.generator-sidebar h3 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  background: #34495e;
  color: #ffffff;
  line-height: 1.1;
  padding: 20px;
}
.generator-sidebar .pages {
  list-style: none;
  margin: 0;
  padding: 0;
}
.generator-sidebar .pages li {
  position: relative;
  display: block;
  padding: 20px 20px 20px 55px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #666666;
}
.generator-sidebar .pages li span {
  display: block;
  position: absolute;
  left: 20px;
  top: 20px;
  width: 20px;
  text-align: center;
  border-radius: 50%;
  color: #ffffff;
  background: #d3d3d3;
}
.generator-sidebar .pages li a {
  float: right;
  display: block;
  font-size: 16px;
  margin-left: 5px;
}
.generator-sidebar .pages li a .fa {
  position: relative;
  transition: all 0.25s ease-in-out;
}
.generator-sidebar .pages li a .fa.fa-pencil-square-o {
  position: relative;
  top: 1px;
  color: #5dade0;
}
.generator-sidebar .pages li a .fa.fa-times {
  color: #ff6666;
}
.generator-sidebar .pages li a:hover .fa-pencil-square-o {
  color: #278aca;
}
.generator-sidebar .pages li a:hover .fa-times {
  color: #ff1919;
}
.generator-sidebar .pages li:nth-child(even) {
  background: #f9f9f9;
}
.generator-sidebar .add-new-page {
  font-size: 14px;
  color: #5dade0;
  text-transform: uppercase;
  display: block;
  text-align: center;
  padding: 5px 0;
  margin: 25px 0;
  transition: all 0.25s ease-in-out;
}
.generator-sidebar .add-new-page:hover {
  color: #278aca;
}
.settingstab
{
  display: block;
  padding-left: 20px;
}
.settingstab li
{
  background: #ffffff;
  width: 100px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  float: left;
  position: relative;
  list-style: none;
  border-right: 1px solid grey;
}

.tabcontainer
{
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}


.custompadding
{
  padding: 10px;
  cursor: pointer;
}
.clm_height
{
  height: 80px;
}
.cs-padding
{
  padding-left:20px;
  padding-right:20px;
}

.widget-demo
{
  width: 50px;
}

.block_conf_panel
{
  position: absolute;
  right: 0;bottom: 0;
  width: 200px;
}

.slider-config
{
  left: 43%;
  width: 200px;
  height: 50px;
  z-index: 9999;
  position: absolute;
  top: 57%;
}

.slider-config-article
{
  
  right:0;
  bottom: 0;
  
  z-index: 9;
  position: absolute;

}


.btn {
    margin-right: 8px;
}

.angular-ui-tree-handle {
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    padding: 10px 10px;
}

.angular-ui-tree-handle:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}

.addrowbutton
{
  position:absolute;
  bottom:0;
  right:0;
}

.posrelative
{
  position: relative;
}

.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.selector {
  text-decoration:none;
  display:block;
  text-align:left;
  width: 175px;
  height: 24px;
  padding: 3px 18px 3px 3px;
  margin:0;
  border: solid 1px #eee;
  font-size: 12px;
  color: #444444;
  cursor: pointer;
  background:#fff url('/img/aa.png') no-repeat top right;  
}
.selector:hover {
  background-position:right -21px;
}
.posbottom
{
  position: fixed !important;
  bottom: 0;
  right: 0;
  left: 0; 
}

.uou-block-13a .btn
{
  width: 100%;
  border-radius: 0;
}


/* PLugins */
/* ====================================================== */
/* Style */
/* ====================================================== */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair', Georgia, "Times New Roman", Times, serif;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #428bca;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #2a6496;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
/* TYPOGRAPHY */
/* FORMS */
/* BUTTONS */
.btn {
  display: inline-block;
  margin-bottom: 0px;
  font-weight: inherit;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 0px none;
  white-space: nowrap;
  color: #FFF;
  padding: 8px 15px;
  transition: all 0.3s ease 0s;
}
.btn:hover {
  text-decoration: none;
}
.btn.btn-large {
  padding: 13px 28px;
}
.btn.btn-red {
  background-color: #ef3f45;
}
.btn.btn-red:hover {
  background-color: #e8131b;
  color: #ffffff;
}
/* HEADER */
#header {
  position: absolute;
  z-index: 999;
  top: 41px;
  left: 0;
  right: 0;
  width: 100%;
}
#header .uou-block-2b .nav {
  margin: 0 auto;
  text-align: center;
  float: none;
}
#header .uou-block-2b .nav .sf-menu {
  position: relative;
  margin: 0;
}
#header .uou-block-2b .nav .sf-menu li {
  margin-right: 50px;
  height: 52px;
  display: inline-block;
  float: none;
}
@media (max-width: 992px) {
  #header .uou-block-2b .nav .sf-menu li {
    margin-right: 20px;
  }
}
#header .uou-block-2b .nav .sf-menu li:last-child {
  margin-right: 0;
}
#header .uou-block-2b .nav .sf-menu li a {
  color: #ffffff;
  text-decoration: none;
}
#header .uou-block-2b .nav .sf-menu li a:hover {
  color: #ef3f45;
}
#header .uou-block-2b .nav .sf-menu li a:hover .fa {
  color: #ef3f45;
}
#header .uou-block-2b .nav .sf-menu li a img {
  margin: 0 auto;
  display: block;
}
#header .uou-block-2b .nav .sf-menu li a.logo {
  margin: 0 20px;
  display: inline-block;
  font-size: 28px;
  color: #ffffff;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 40px;
  text-transform: uppercase;
  border: 3px solid #ffffff;
  padding: 12px 24px;
}
@media (max-width: 992px) {
  #header .uou-block-2b .nav .sf-menu li a.logo {
    margin: 0;
  }
}
/* FOOTER */
#footer {
  position: relative;
}
/* WIDGETS */
/* SHORTCODES */
.custom-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.preamble {
  position: relative;
  margin-bottom: 30px;
  text-align: center;
}
.preamble .square {
  margin: 25px 2px 0 2px;
  display: inline-block;
  width: 8px;
  height: 8px;
  content: "";
  transform: rotate(45deg);
}
.preamble.light .title {
  color: #ffffff;
}
.preamble.light .square {
  background: #ffffff;
}
.preamble.dark .title {
  color: #ef3f45;
}
.preamble.dark .square {
  background: #ef3f45;
}
.preamble .title {
  margin: 0;
  font-size: 34px;
  line-height: 28px;
}
/* TESTIMONIALS */
.uou-testimonial {
  position: relative;
  padding: 60px 0;
  text-align: center;
}
.uou-testimonial .quotation_mark {
  position: absolute;
  margin-top: 20px;
  margin-left: -45px;
  left: 50%;
  font-size: 96px;
  color: #e5e5e5;
  z-index: -1;
}
.uou-testimonial blockquote {
  padding: 0;
  margin: 0 0 30px 0;
  display: inline-block;
  border: none;
}
.uou-testimonial blockquote p {
  margin: 0 0 20px 0;
  font-size: 15px;
  line-height: 22px;
}
.uou-testimonial blockquote p.who {
  margin-bottom: 0px;
}
.uou-testimonial blockquote p.where {
  color: #999999;
  font-style: italic;
}
.uou-testimonial .owl-pagination {
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  text-align: center;
}
.uou-testimonial .owl-pagination .owl-page {
  margin: 0 2px;
  display: inline-block;
}
.uou-testimonial .owl-pagination .owl-page.active span {
  background: #ef3f45;
  border-color: #ef3f45;
}
.uou-testimonial .owl-pagination .owl-page span {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 2px solid #cccccc;
  border-radius: 50%;
}
/* WELCOME */
.uou-welcome-message {
  position: relative;
  padding: 50px 0;
  background: url(img/welcome.jpg) no-repeat center;
  background-size: cover;
}
.uou-welcome-message .text {
  margin-bottom: 30px;
}
.uou-welcome-message .text p {
  margin: 0;
  color: #ffd7d7;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}
.uou-welcome-message .opening {
  text-align: center;
}
.uou-welcome-message .opening .title {
  margin: 0;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 22px;
  font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.uou-welcome-message .opening ul {
  position: relative;
  margin: 0;
  padding: 0;
}
.uou-welcome-message .opening ul li {
  color: #ffffff;
  font-style: italic;
  font-size: 13px;
  list-style-type: decimal;
  font-family: 'Playfair', Georgia, "Times New Roman", Times, serif;
}
.uou-welcome-message .opening ul li:last-child:after {
  display: none;
}
.uou-welcome-message .opening ul li:after {
  margin-left: 10px;
  display: inline-block;
  width: 5px;
  height: 5px;
  line-height: 19px;
  vertical-align: middle;
  border-radius: 50%;
  background: #ffffff;
  content: "";
}
.uou-welcome-message .gallery {
  position: relative;
  margin: 0 auto;
  text-align: center;
}
.uou-welcome-message .gallery li {
  padding: 0 7px;
  margin-top: 15px;
  vertical-align: top;
}
.uou-welcome-message .gallery li img {
  border: 5px solid #ffffff;
}
/* MENU */
.uou-menu-list {
  position: relative;
  padding: 60px 0 30px 0;
  background: url(img/foods.jpg) no-repeat center;
  background-size: cover;
}
.uou-menu-list .preamble img {
  margin-bottom: 20px;
}
.uou-menu-list .dish {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}
.uou-menu-list .dish .title {
  margin: 0 0 20px 0;
  color: #ffffff;
  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase;
  font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.uou-menu-list .dish .dish-image {
  margin-bottom: 20px;
}
.uou-menu-list .dish .dish-image img {
  border-radius: 50%;
}
/* ABOUT */
.uou-about-us {
  position: relative;
  padding: 70px 0 80px 0;
  background: url(img/about.jpg) no-repeat center fixed;
  background-size: cover;
}
.uou-about-us #badge {
  position: absolute;
  top: -30px;
  z-index: 99;
}
.uou-about-us #dishes-slider {
  position: relative;
  margin: 0 auto 20px auto;
  width: 85%;
  text-align: center;
  display: inline-block;
  border: 10px solid #ffffff;
}
.uou-about-us #dishes-slider img {
  width: 100%;
  height: auto;
}
.uou-about-us #gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ef3f45;
  opacity: 0.65;
}
.uou-about-us .lead {
  margin: 20px 0 30px 0;
  color: #ffffff;
  font-size: 18px;
}
.uou-about-us p {
  margin: 0 0 30px 0;
  color: #ffffff;
  font-size: 15px;
}
.uou-about-us .owl-pagination {
  position: absolute;
  bottom: -40px;
  left: 0;
  right: 0;
}
.uou-about-us .owl-pagination .owl-page {
  margin: 0 2px;
  display: inline-block;
}
.uou-about-us .owl-pagination .owl-page.active span {
  background: #ef3f45;
  border-color: #ef3f45;
}
.uou-about-us .owl-pagination .owl-page span {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 2px solid #ffffff;
  border-radius: 50%;
}
/* INTRO */
.intro-slider-content {
  position: relative;
  padding: 0;
  background: url(img/intro.jpg) no-repeat center;
  background-size: cover;
}
.intro-slider-content .slide-text {
  padding: 170px 0 120px 0;
}
.intro-slider-content .slide-text h5 {
  margin: 0 0 0 50px;
  color: #ffffff;
  font-size: 23px;
  text-transform: uppercase;
  font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.intro-slider-content .slide-text h1 {
  margin: -40px 0 0 0;
  color: #ffffff;
  font-size: 123px;
}
.intro-slider-content .slide-text h3 {
  margin: 0 0 15px 0;
  color: #ffffff;
  font-size: 39px;
  font-style: italic;
}
.intro-slider-content .slide-text h2 {
  margin: 0 0 0 0;
  color: #ffffff;
  font-size: 46px;
  text-transform: uppercase;
  font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.intro-slider-content .owl-pagination {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
}
.intro-slider-content .owl-pagination .owl-page {
  margin: 0 2px;
  display: inline-block;
}
.intro-slider-content .owl-pagination .owl-page.active span {
  background: #ffffff;
  border-color: #ffffff;
}
.intro-slider-content .owl-pagination .owl-page span {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 2px solid #cccccc;
  border-radius: 50%;
}
.intro-slider-content .owl-buttons {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}
.intro-slider-content .owl-buttons .owl-prev {
  position: absolute;
  margin-top: -27.5px;
  left: 18px;
  display: inline-block;
  width: 55px;
  height: 55px;
  text-align: center;
  line-height: 55px;
  background: #ef3f45;
}
.intro-slider-content .owl-buttons .owl-prev .fa {
  color: #ffffff;
  font-size: 24px;
}
.intro-slider-content .owl-buttons .owl-next {
  position: absolute;
  margin-top: -27.5px;
  right: 18px;
  display: inline-block;
  width: 55px;
  height: 55px;
  text-align: center;
  line-height: 55px;
  background: #ef3f45;
}
.intro-slider-content .owl-buttons .owl-next .fa {
  color: #ffffff;
  font-size: 24px;
}
.wd
{
  height: 400px;
  position: relative;z-index: 9999;
}

.header-custom .uou-block-2b .nav .sf-menu li a {
  color: #ffffff;
  text-decoration: none;
}

.header-custom .icons.uou-block-2b .nav .sf-menu > li > a .fa
{
  display: block;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}


/* MENU CARD */
.restaturant-menu {
  position: relative;
  padding: 0;
}
.restaturant-menu .book {
  position: relative;
}
.restaturant-menu .book .left-side {
  padding: 0;
}
.restaturant-menu .book .left-side .menu-dishes {
  background: #ef3f45;
}
.restaturant-menu .book .left-side .menu-dishes li {
  color: #ffffff;
}
.restaturant-menu .book .left-side .menu-dishes li .subname:before {
  border-bottom: none;
}
.restaturant-menu .book .right-side {
  padding: 0;
  background: #cfbf8d;
}
.restaturant-menu .book .right-side .menu-dishes li .subname:before {
  border-bottom: none;
}
.restaturant-menu .book .header-banner,
.restaturant-menu .book .footer-banner {
  position: relative;
  width: 100%;
}
.restaturant-menu .book .header-banner img,
.restaturant-menu .book .footer-banner img {
  width: 100%;
  height: auto;
}
.restaturant-menu .book .menu-dishes {
  padding: 35px;
}
.restaturant-menu .book .menu-dishes li {
  position: relative;
  margin-bottom: 10px;
  font-size: 14px;
  width: 100%;
  display: inline-block;
}
.restaturant-menu .book .menu-dishes li:last-child {
  margin-bottom: 0;
}
.restaturant-menu .book .menu-dishes li .name {
  padding-right: 15px;
  font-weight: 700;
  z-index: 9999;
}
.restaturant-menu .book .menu-dishes li .price {
  padding-left: 10px;
  font-weight: 700;
  z-index: 9999;
}
.restaturant-menu .book .menu-dishes li .subname {
  position: relative;
  width: 100%;
  font-size: 12px;
  line-height: 14px;
}
.restaturant-menu .book .menu-dishes li .subname:before {
  position: absolute;
  top: -9px;
  width: 100%;
  left: 0;
  content: "";
}
.restaturant-menu .book .ribbon {
  position: absolute;
  margin-top: -40px;
  right: 30px;
  width: 250px;
  height: 100px;
  text-align: center;
  background: #ffffff;
  border: 5px solid #ef3f45;
  border-radius: 120px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
  z-index: 1;
  overflow: hidden;
  font-family: 'Playfair', Georgia, "Times New Roman", Times, serif;
}
@media (max-width: 1200px) {
  .restaturant-menu .book .ribbon {
    left: 0;
    right: 0;
    margin: -40px auto 0 auto;
  }
}
.restaturant-menu .book .ribbon h5 {
  margin: 0;
  color: #ef3f45;
  font-size: 27px;
}
.restaturant-menu .book .ribbon h5 small {
  color: #1a1a1a;
  font-size: 13px;
  vertical-align: bottom;
}
.restaturant-menu .book .thumbnails {
  padding-bottom: 33px;
  padding-right: 45px;
  float: right;
}
@media (max-width: 1200px) {
  .restaturant-menu .book .thumbnails {
    margin: 0 auto;
    float: none;
    display: block;
    text-align: center;
  }
}
.restaturant-menu .book .thumbnails img {
  margin-left: 15px;
  transform: rotate(15deg);
  display: inline-block;
  border: 5px solid #ef3f45;
}
