
    <div class="container" headerdirective>
      <div class="search">
        <a href="#" class="toggle fa fa-search"></a>

        <form action="">
          <input type="text" class="search-input" placeholder="Search ...">
          <input type="submit" value="">
        </form>
      </div>

      <ul class="social">
        <li ng-repeat="socialicon in childNode.widgetdata.social">
            <a style="background-color:{{socialicon.background}}" 
               data-toggle="modal" 
               data-target="#myModal_social_{{childNode.id}}"  
               href="#" 
               class="fa {{socialicon.icons}}">
            </a>
        </li>
      </ul>

      <ul class="authentication">
        <li ng-repeat="authentication in childNode.widgetdata.authentication">
            <a plaintx-contenteditable  
               ng-model="authentication.title" 
               href="#">{{authentication.title || ' '}}
               <span></span>
            </a>
        </li>
      </ul>

      <div class="language">
        <a href="#" class="toggle">
          <img src="img/NL.png" alt=""> 
          <span plaintx-contenteditable  
                ng-model="childNode.widgetdata.languagetitle">
                {{childNode.widgetdata.languagetitle}}
                <span></span>
          </span>
        </a>
        <ul>
          <li ng-repeat="language in childNode.widgetdata.language">
              <a href="#"><img src="{{language.image}}" alt="">{{language.title}}</a>
          </li>
        </ul>
      </div>
    </div>
<!-- Modal -->
<div navsettings>

</div>
<div socialsettings>

</div>