<div class="uou-lookbook has-bg-image" data-bg-image="img/lookbook-banner.jpg" style="background-size: ocver;">
    <div class="container">
      <div class="uou-lookbook-text">
        <h3 plaintx-contenteditable ng-model="childNode.widgetdata.title">{{childNode.widgetdata.title || ''}}<span></span></h3>
        <h2 plaintx-contenteditable ng-model="childNode.widgetdata.subtitle">{{childNode.widgetdata.title || ''}}<span></span></h2>
        <p plaintx-contenteditable ng-model="childNode.widgetdata.text">{{childNode.widgetdata.text || ''}}<span></span></p>
        
      </div>
      
    </div> <!--  end container -->
</div> <!-- end uou-lookbok -->