<div class="blog-single">
  <div class="post-with-full-img">
    <article class="uou-block-7c">

      <div class="blog-title">

        <i class="fa fa-link"></i>
        <span class="date text-left" plaintx-contenteditable ng-model="childNode.widgetdata.time">{{childNode.widgetdata.time || ''}}<span></span></span>

        <h1 class="text-left"><a href="#" plaintx-contenteditable ng-model="childNode.widgetdata.title">{{childNode.widgetdata.title || ''}}<span></span></a></h1>
      </div>



      <p class="text-left" tx-contenteditable ng-model="childNode.widgetdata.text">{{childNode.widgetdata.text || ''}}<span></span></p>

    </article> <!-- end .uou-block-7c -->
  </div>

</div>