<div class="blog-single">
<div class="post-with-video">
  <video src="media/video.mp4" style="width: 100%; height: 100%;" class="mejs-player"></video>

  <article class="uou-block-7e">
    <div class="blog-title">

      <i class="fa fa-video-camera"></i>
      <span class="date text-left" plaintx-contenteditable ng-model="childNode.widgetdata.time">{{childNode.widgetdata.time || ''}}<span></span></span>

      <h1 class="text-left"><a href="#" plaintx-contenteditable ng-model="childNode.widgetdata.title">{{childNode.widgetdata.title || ''}}<span></span></a></h1>
    </div>



    <p class="text-left" tx-contenteditable ng-model="childNode.widgetdata.text">{{childNode.widgetdata.text || ''}}<span></span></p>
  </article> <!-- end .uou-block-7e -->

</div>

</div> <!--  end blog-single -->