<div class="container content" 
     resumetabs 
     tabs="childNode.widgetdata.tabs">
  <blockquote ng-repeat="(key,block) in childNode.widgetdata.tabs" ng-if="key == 0" class="class_{{key}} active">
    <p tx-contenteditable  
       ng-model="block.text">
       {{block.text || ' '}}<span></span>
    </p>
    <footer>
      <cite>
        <a href="#">
          <p tx-contenteditable  
           ng-model="block.name">
           {{block.name || ' '}}
           <span></span>
          </p>
        </a>
      </cite>
    </footer>
    <div class="upload_button_container edit-buttons">
         <button addnewresumetab 
                 ng-model="childNode.widgetdata.tabs" 
                 currenttab="block" 
                 class="btn btn-primary btn-for-edit">
                 <i class="fa fa-plus fa-3x"></i>
         </button>
         <button removeslide 
                 ng-model="childNode.widgetdata.tabs" 
                 slideindex="key"  
                 class="btn btn-primary btn-for-edit">
                 <i class="fa fa-trash-o fa-3x"></i>
         </button>   
         <span class="btn btn-primary fileinput-button btn-for-edit">
              <i class="fa fa-upload fa-3x"></i>
                  <input type="file" 
                       filemodel 
                       ng-model="block.image"/>
          </span>
                    
    </div>
    
  </blockquote>
  <blockquote ng-repeat="(key,block) in childNode.widgetdata.tabs" ng-if="key > 0" class="class_{{key}}">
  <p tx-contenteditable  
     ng-model="block.text">
     {{block.text || ' '}}<span></span>
  </p>
  <footer>
    <cite>
      <a href="#">
        <p tx-contenteditable  
         ng-model="block.name">
         {{block.name || ' '}}
         <span></span>
        </p>
      </a>
    </cite>
  </footer>
  <div class="upload_button_container edit-buttons">
       <button addnewresumetab 
               ng-model="childNode.widgetdata.tabs" 
               currenttab="block" 
               class="btn btn-primary btn-for-edit">
               <i class="fa fa-plus fa-3x"></i>
       </button>
       <button removeslide 
               ng-model="childNode.widgetdata.tabs" 
               slideindex="key"  
               class="btn btn-primary btn-for-edit">
               <i class="fa fa-trash-o fa-3x"></i>
       </button>   
       <span class="btn btn-primary fileinput-button btn-for-edit">
            <i class="fa fa-pencil fa-3x"></i>
                <input type="file" 
                     filemodel 
                     ng-model="block.image"/>
        </span>
                  
  </div>
  </blockquote>
  <ul class="tabs blockquotes-tab">
    <li ng-repeat="(key,block) in childNode.widgetdata.tabs" data-target="class_{{key}}" ng-class="{active: key==0}">
      <img ng-src="{{block.image}}" alt="">
      <h6 plaintx-contenteditable 
           ng-model="block.name">
           {{block.name || ' '}}<span></span>
      </h6>
      <a href="#" plaintx-contenteditable ng-model="block.url">{{block.url || ' '}}<span></span></a>
    </li>
  </ul>
</div>
<div portfoliomodal></div>