<div class="modal fade bs-example-modal-sm" id="icons-popup{{childNode.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="uou-block-3b secondary">

        <h1 class="modal-title" id="myModalLabel_export">Icons</h1>


        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div> <!-- end uou-block-3b -->


      <div class="modal-body">

        <div class="row">
          <div class="col-md-12">
              <ul>
                <li class="fa fa-lightbulb-o custompadding" ng-click="SetThisIcon(childNode.widgetdata,'fa-lightbulb-o');"></li>
                <li class="fa fa-sitemap custompadding" ng-click="SetThisIcon(childNode.widgetdata,'fa-sitemap');"></li>
                <li class="fa fa-anchor custompadding" ng-click="SetThisIcon(childNode.widgetdata,'fa-anchor');"></li>
                <li class="fa fa-android custompadding" ng-click="SetThisIcon(childNode.widgetdata,'fa-android');"></li>
                <li class="fa fa-users custompadding" ng-click="SetThisIcon(childNode.widgetdata,'fa-users');"></li>
                <li class="fa fa-rocket custompadding" ng-click="SetThisIcon(childNode.widgetdata,'fa-rocket');"></li>
              </ul>
          </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
