    <div class="block-title-conten">
      <h4 plaintx-contenteditable ng-model="childNode.widgetdata.title">{{childNode.widgetdata.title || ''}}<span></span></h4>
    </div>
    <div class="uou-portfolio" uouportfolio>
      <div class="container">
        <div class="clearfix"></div>
        <ul class="filters col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <li><a href="#" class="btn active alltrigger" data-filter="">All</a></li>
          <li ng-repeat="tab in childNode.widgetdata.tabs"><a href="#" class="btn" data-filter=".{{tab.class}}" plaintx-contenteditable ng-model="tab.title">{{tab.title || ''}}<span></span></a></li>
        </ul>
        <div class="portfolio-filters-content">
          <article ng-repeat="image in childNode.widgetdata.images" class="{{image.class}}">
            <a href="#" data-toggle="modal" data-target="#myModal_portfolio_{{childNode.id}}" class="swipebox" title="{{image.title}}">
              <img src="{{image.image}}" alt="" class="work img-responsive">
            </a>
          </article>
        </div>
      </div> <!--  end ocntainre -->
    </div> <!--  end uou-portfolio -->

    <div portfoliomodal></div>
