#intro-slider,
#welcome,
.opening,
#menu,
#testimonials,
#about {
	h1,h2,h3,h4,h5,h6 {
		font-family: 'Playfair', Georgia, "Times New Roman", Times, serif;
		font-weight: 300;

	}
}

#testimonials {
	.slide {
		blockquote {
			background: none;
		}
	}
}


.preamble .title {
  margin: 0;
  font-size: 34px;
  line-height: 54px;
  text-transform: none;
  font-weight: 400;
}

#intro .owl-buttons .owl-prev { transform: rotate(-45deg); }

#intro .owl-buttons .owl-prev .fa { transform: rotate(45deg); }


 #intro .owl-buttons .owl-next { transform: rotate(-45deg); }
 #intro .owl-buttons .owl-next .fa { transform: rotate(45deg) }