/* HEADER */

#header {
  position: absolute;
  z-index: 999;
  top: 41px;
  left: 0;
  right: 0;
  width: 100%;

  .uou-block-2b {

  	.nav {
  		margin: 0 auto;
  		text-align: center;
  		float: none;

  		.sf-menu {
  			position: relative;
  			margin: 0;

  			li {
  				margin-right: 50px;
  				height: 52px;
  				display: inline-block;
  				float: none;

          &.active {
            a {
              color:  @red;
            }
            
          }

  				@media (max-width: @screen-md) {
  					margin-right: 20px;
  				}

  				&:last-child {
  					margin-right: 0;
  				}

  				a {
  					color: @white;
  					text-decoration: none;

  					&:hover {
  						color: @red;

  						.fa {
  							color: @red;
  						}
  					}

  					img {
  						margin: 0 auto;
  						display: block;
  					}

  					&.logo {
  						margin: 0 20px;
  						display: inline-block;
							font-size: 28px;
							color: @white;
							font-weight: 700;
							letter-spacing: 2px;
							line-height: 40px;
							text-transform: uppercase;
							border: 3px solid @white;
							padding: 12px 24px;

							@media (max-width: @screen-md) {
								margin: 0;
							}
  					}
  				}
  			}
  		}
  	}	
  } 
}



.other-pages-menu {
  position: relative !important;
  top: 0 !important;
  background: #141414;


  .uou-block-2b.uou-block-2d {
    padding: 15px 0;
  }
}