/* CLIENTS */

#clients {
	position: relative;
	padding: 65px 0;
	float: left;
	width: 100%;
	background-color: @uou-magenta;

	.title {
		color: @white;
	}

	.slide {
		position: relative;
		margin-top: 10px;
		text-align: center;

		img {
			display: inline-block;
		}
	}
}

