.landing-header {
	position: relative;
	width: 100%;
	height: 730px;
	background: url('../img/landing-page-banner.png') top center no-repeat;
	background-size: cover;
	padding-top: 30px;

	a {
		margin: 20px 0;
	}


	.logo,
	h2,
	p {
		color: @white;
		border-color: @white;
		margin: 0;
	}
}


.uou-landing-page-feature {
	position: relative;
	padding: 40px 0;
}

.uou-landing-demo {
	position: relative;
	padding: 30px 0;

	background: @uou-tertiary-color;

	h5 {
		text-transform: uppercase;
		margin-top: 0;
	}

	img {
		margin-bottom: 20px;
	}
}


.uou-another-feature {
	position: relative;
	padding: 60px 0;

	.list-icon-large {
		.fa {
			color: @uou-magenta;
		}
	}
}

.landing-footer {
	position: relative;

	a {
		margin: 15px 0;
	}
	
}