<article class="uou-block-7e">
  <div class="meta">
    <span class="time-ago" plaintx-contenteditable ng-model="childNode.widgetdata.timetext">{{childNode.widgetdata.timetext || ''}}<span></span></span>
    <span class="category">Posted in: <a href="#" plaintx-contenteditable ng-model="childNode.widgetdata.tags">{{childNode.widgetdata.tags ||''}}<span></span></a></span>
    <a href="#" class="comments" plaintx-contenteditable ng-model="childNode.widgetdata.comments">{{childNode.widgetdata.comments || ''}}<span></span></a>
  </div>

  <h1><a href="#" plaintx-contenteditable ng-model="childNode.widgetdata.title">{{childNode.widgetdata.title || ''}}<span></span></a></h1>

  <p plaintx-contenteditable ng-model="childNode.widgetdata.text">{{childNode.widgetdata.text ||''}}<span></span></p>

  <a href="#" class="btn btn-primary btn-for-edit" plaintx-contenteditable ng-model="childNode.widgetdata.button">{{childNode.widgetdata.button || ''}}<span></span></a>
</article> <!-- end .uou-block-7e -->