<div class="container">
      <nav class="nav">
        <ul class="sf-menu" sfmenu>
          <li class="" ng-repeat="nav in childNode.widgetdata.nav">
            <a ng-if="nav.items.length == 0"   
               href="#" 
               data-toggle="modal" 
               data-target="#myModal{{childNode.id}}">{{nav.title}}
            </a>
            <a ng-if="nav.items.length > 0" class="sf-with-ul" href="#" data-toggle="modal" data-target="#myModal{{childNode.id}}">{{nav.title}}</a>
            <ul ng-if="nav.items.length > 0">
              <li ng-repeat="nav1 in nav.items">
                <a ng-if="nav1.items.length == 0" 
                   href="{{nav1.link}}"
                   data-toggle="modal" 
                   data-target="#myModal{{childNode.id}}">
                   {{nav1.title}}
                </a>
                <a ng-if="nav1.items.length > 0" 
                   class="sf-with-ul" 
                   href="{{nav1.link}}"
                   data-toggle="modal" 
                   data-target="#myModal{{childNode.id}}">
                   {{nav1.title}}
                </a>
                <ul ng-if="nav1.items.length > 0">
                  <li ng-repeat="nav2 in nav1.items">
                    <a href="{{nav2.link}}"
                       data-toggle="modal" 
                       data-target="#myModal{{childNode.id}}">
                       {{nav2.title}}
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          
        </ul>
      </nav>
      <a href="#" class="cart">
      	<i class="fa fa-shopping-cart"></i> 
      	<span plaintx-contenteditable  
           	  ng-model="childNode.widgetdata.righttext" 
              href="#">
              {{childNode.widgetdata.righttext || ' '}}
           	  <span></span>
        </span>
      </a>
</div>

<div navsettings>

</div>