<div class="container">
      <a href="#" class="logo" 
       plaintx-contenteditable  
       ng-model="childNode.widgetdata.title">
      	{{childNode.widgetdata.title || ' '}}
        <span></span>
      </a>
      <a href="#" class="mobile-sidebar-button mobile-sidebar-toggle"><span></span></a>

      <div class="contact">
        <span>Call Us:</span>
        <a href="#" plaintx-contenteditable  
       				ng-model="childNode.widgetdata.phone">
       				{{childNode.widgetdata.phone || ' '}}<span></span>
       	</a>
      </div>
</div>