<div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <a class="logo" 
             href="#" 
             plaintx-contenteditable 
             ng-model="childNode.widgetdata.title">
             {{childNode.widgetdata.title}}
              <span></span>
           </a>

          <p plaintx-contenteditable 
             ng-model="childNode.widgetdata.text1">
             {{childNode.widgetdata.text1}}<span></span>
          </p>

          <p plaintx-contenteditable 
             ng-model="childNode.widgetdata.text2">{{childNode.widgetdata.text2}}<span></span>
          </p>
        </div>

        <div class="col-md-3 col-sm-6">
          <h5 plaintx-contenteditable 
             ng-model="childNode.widgetdata.text3">{{childNode.widgetdata.text3}}<span></span>
          </h5>

          <ul class="blog-posts">
            <li ng-repeat="nv in childNode.widgetdata.nav1">
                  <a href="#" 
                     plaintx-contenteditable 
                     ng-model="nv.title">{{nv.title}}<span></span>
                  </a>
                  <span plaintx-contenteditable 
                        ng-model="nv.text">{{nv.text}}<span></span></span>
            </li>
          </ul>
          <button twitterfeed ng-model="childNode.widgetdata.nav1" class="btn btn-primary edit-buttons">
                    <i class="fa fa-plus-square fa-3x"></i>
          </button>
          <button removetwitterfeed 
                    ng-model="childNode.widgetdata.nav1"  
                    class="btn btn-primary edit-buttons">
                    <i class="fa fa-trash-o fa-3x"></i>
          </button>
        </div>

        <div class="col-md-3 col-sm-6">
          <h5 plaintx-contenteditable 
             ng-model="childNode.widgetdata.text4">{{childNode.widgetdata.text4}}<span></span>
          </h5>

          <ul class="links">
            <li ng-repeat="nv in childNode.widgetdata.nav2">
                  <a href="#" 
                     plaintx-contenteditable 
                     ng-model="nv.title">{{nv.title}}<span></span>
                  </a>
                  <span plaintx-contenteditable 
                        ng-model="nv.text">{{nv.text}}<span></span></span>
            </li>
          </ul>
          <button twitterfeed ng-model="childNode.widgetdata.nav2" class="btn btn-primary edit-buttons">
                    <i class="fa fa-plus-square fa-3x"></i>
          </button>
          <button removetwitterfeed 
                    ng-model="childNode.widgetdata.nav2"  
                    class="btn btn-primary edit-buttons">
                    <i class="fa fa-trash-o fa-3x"></i>
          </button>
        </div>

        <div class="col-md-3 col-sm-6">
          <h5 plaintx-contenteditable 
             ng-model="childNode.widgetdata.text5">{{childNode.widgetdata.text5}}<span></span>
          </h5>

          <ul class="tags-list">
            <li ng-repeat="nv in childNode.widgetdata.nav3">
                  <a href="#" 
                     plaintx-contenteditable 
                     ng-model="nv.title">{{nv.title}}<span></span>
                  </a>
                  <span plaintx-contenteditable 
                        ng-model="nv.text">{{nv.text}}<span></span></span>
            </li>
          </ul>
          <button twitterfeed 
                  ng-model="childNode.widgetdata.nav3" 
                  class="btn btn-primary edit-buttons">
                  <i class="fa fa-plus-square fa-3x"></i>
          </button>
          <button removetwitterfeed 
                  ng-model="childNode.widgetdata.nav3"  
                  class="btn btn-primary edit-buttons">
                  <i class="fa fa-trash-o fa-3x"></i>
          </button>
        </div>
      </div>
    </div>