 <div class="modal fade" id="myModal_add_block_{{childNode.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="uou-block-3b secondary">

          <h1>Add GUI Element</h1>
          <button type="button" class="close" data-dismiss="modal" ng-click="EnablePrview();" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div> <!-- end uou-block-3b -->

        <div class="modal-body">
          <h2 style="text-align:center">Headers</h2>
          <div class="header-block-content">
            <div class="block-preview-image" ng-repeat="(key_def,widgetdf) in widget_defination" ng-if="widgetdf.category == 'toolbar'" id="{{widgetdf.id}}" widget-data="{{widgetdf.widgetdata}}" data-key="{{key_def}}" data-wtype="{{widgetdf.type}}" data-type="{{widgetdf.type}}"> 
                <img style="width:100%;" src="{{widgetdf.src}}" alt="">
                <button data-dismiss="modal" aria-label="Close" class="btn btn-small btn-success" acceptwidgetbyclick ng-model="childNode" data-key="{{key_def}}" data-id="{{childNode.id}}"><i class="fa fa-plus"></i>Add</button>
            </div> <!-- end block-preview image -->
          <div class="clearfix"></div>
          <div class="header-block-content">
              <div class="block-preview-image" ng-repeat="(key_def,widgetdf) in widget_defination" ng-if="widgetdf.category == 'menu'" id="{{widgetdf.id}}" widget-data="{{widgetdf.widgetdata}}" data-key="{{key_def}}" data-wtype="{{widgetdf.type}}" data-type="{{widgetdf.type}}"> 
                  <img style="width:100%;" src="{{widgetdf.src}}" alt="">
                  <button data-dismiss="modal" aria-label="Close" class="btn btn-small btn-success" acceptwidgetbyclick ng-model="childNode" data-key="{{key_def}}" data-id="{{childNode.id}}"><i class="fa fa-plus"></i>Add</button>
              </div> <!-- end block-preview image -->
            <div class="clearfix"></div>
          </div>
          <h2 style="text-align:center">Footers</h2>
          <div class="header-block-content">
              <div class="block-preview-image" ng-repeat="(key_def,widgetdf) in widget_defination" ng-if="widgetdf.category == 'footer'" id="{{widgetdf.id}}" widget-data="{{widgetdf.widgetdata}}" data-key="{{key_def}}" data-wtype="{{widgetdf.type}}" data-type="{{widgetdf.type}}"> 
                  <img style="width:100%;" src="{{widgetdf.src}}" alt="">
                  <button data-dismiss="modal" aria-label="Close" class="btn btn-small btn-success" acceptwidgetbyclick ng-model="childNode" data-key="{{key_def}}" data-id="{{childNode.id}}"><i class="fa fa-plus"></i>Add</button>
              </div> <!-- end block-preview image -->
            <div class="clearfix"></div>
          </div>

          <h2 style="text-align:center">Blocks</h2>
          <div class="header-block-content">
              <div class="block-preview-image" ng-repeat="(key_def,widgetdf) in widget_defination" ng-if="widgetdf.category == 'block'" id="{{widgetdf.id}}" widget-data="{{widgetdf.widgetdata}}" data-key="{{key_def}}" data-wtype="{{widgetdf.type}}" data-type="{{widgetdf.type}}"> 
                  <img style="width:100%;" src="{{widgetdf.src}}" alt="">
                  <button data-dismiss="modal" aria-label="Close" class="btn btn-small btn-success" acceptwidgetbyclick ng-model="childNode" data-key="{{key_def}}" data-id="{{childNode.id}}"><i class="fa fa-plus"></i>Add</button>
              </div> <!-- end block-preview image -->
            <div class="clearfix"></div>
          </div>
          
          <h2 style="text-align:center">Layout</h2>
          <div class="page-layout-block">  
            <div class="block-preview-image" ng-repeat="(key_def,widgetdf) in widget_defination" ng-if="widgetdf.category == 'layout'" id="{{widgetdf.id}}" widget-data="{{widgetdf.widgetdata}}" data-key="{{key_def}}" data-wtype="{{widgetdf.type}}" data-type="{{widgetdf.type}}">
              <div class="wd"> 
                <img style="width:100%;height:auto;" src="{{widgetdf.src}}" alt="">
                <button data-dismiss="modal" aria-label="Close" class="btn btn-small btn-success" acceptwidgetbyclick ng-model="childNode" data-key="{{key_def}}" data-id="{{childNode.id}}"><i class="fa fa-plus"></i>Add</button>
              </div>
            </div> <!-- end block-preview image -->
            <div class="clearfix"></div>
            <div class="block-preview-image" ng-repeat="(key_def,widgetdf) in widget_defination" ng-if="widgetdf.category == 'gui'" id="{{widgetdf.id}}" widget-data="{{widgetdf.widgetdata}}" data-key="{{key_def}}" data-wtype="{{widgetdf.type}}" data-type="{{widgetdf.type}}"> 
              <div class="wd">
                <img  style="width:100;height:auto;" src="{{widgetdf.src}}" alt="">
                <button data-dismiss="modal" aria-label="Close" class="btn btn-small btn-success" acceptwidgetbyclick ng-model="childNode" data-key="{{key_def}}" data-id="{{childNode.id}}"><i class="fa fa-plus"></i>Add</button>
              </div>
            </div> <!-- end block-preview image -->
        </div> <!-- end modal-bloc-tab -->

        </div>
      </div>
    </div>
  </div>