 

      <div class="block-title-conten">
        <h4 plaintx-contenteditable ng-model="childNode.widgetdata.title">{{childNode.widgetdata.title || ''}}<span></span></h4>
        <p plaintx-contenteditable ng-model="childNode.widgetdata.text">{{childNode.widgetdata.text || ''}}</p>
      </div>


    <div class="container">
      <div id="owl-demo" class="uou-clients-slide-section" uouclientsslidesection blocks="childNode.widgetdata.blocks">
        <div class="item" ng-repeat="img in childNode.widgetdata.blocks">
          <a href="#" data-toggle="modal" data-target="#myModal_slider_{{childNode.id}}">
            <img ng-src="{{img.image}}" alt="{{img.title}}"></a>
        </div>  
      </div>      
    </div>

    <div slidermodal></div>