  <flex-slider
        slide="s in childNode.widgetdata.slides track by $index"
        animation="fade" prevText="" nextText="">
        <li>
          <img ng-src="{{s.image}}"/>
          <div class="uou-slider-text">
            <h2 plaintx-contenteditable ng-model="s.heading">{{s.heading || ''}}<span></span></h2>
            <p plaintx-contenteditable ng-model="s.text">{{s.text || ''}}<span></span></p>
            <a class="btn btn-warning" href="#">Find Out More</a>
          </div>
          <div class="slider-config">
                    <button addarticle 
                            ng-model="childNode.widgetdata.slides" 
                            currentslide="s" 
                            class="btn btn-primary btn-for-edit">
                            <i class="fa 
                                      fa-plus 
                                      fa-3x">
                            </i>
                    </button>
                    <button ng-click="TriggerSliderUpload(childNode.id,$index)" 
                            class="btn btn-primary btn-for-edit">
                            <i class="fa 
                                      fa-pencil 
                                      fa-3x">
                            </i>
                    </button>
                    <button removeslide 
                            ng-model="childNode.widgetdata.slides" 
                            slideindex="$index" 
                            class="btn btn-primary btn-for-edit">
                            <i class="fa 
                                      fa-trash-o 
                                      fa-3x">
                            </i>
                    </button>
                    <span style="display:none;" 
                          class="btn btn-primary fileinput-button btn-for-edit">
                          <span>Change</span>
                          <input id="slider_file_{{childNode.id}}_{{$index}}" 
                                 class="slider_image_upload" 
                                 type="file" 
                                 filemodel 
                                 ng-model="s.image"/>
                    </span>
                </div>
        </li>
    </flex-slider>