#intro-slider h1,
#welcome h1,
.opening h1,
#menu h1,
#testimonials h1,
#about h1,
#intro-slider h2,
#welcome h2,
.opening h2,
#menu h2,
#testimonials h2,
#about h2,
#intro-slider h3,
#welcome h3,
.opening h3,
#menu h3,
#testimonials h3,
#about h3,
#intro-slider h4,
#welcome h4,
.opening h4,
#menu h4,
#testimonials h4,
#about h4,
#intro-slider h5,
#welcome h5,
.opening h5,
#menu h5,
#testimonials h5,
#about h5,
#intro-slider h6,
#welcome h6,
.opening h6,
#menu h6,
#testimonials h6,
#about h6 {
  font-family: 'Playfair', Georgia, "Times New Roman", Times, serif;
  font-weight: 300;
}
.uou-testimonial-slider .slide blockquote {
  background: none !important;
}
.preamble .title {
  margin: 0;
  font-size: 34px;
  line-height: 54px;
  text-transform: none;
  font-weight: 400;
}
#intro .owl-buttons .owl-prev {
  transform: rotate(-45deg);
}
#intro .owl-buttons .owl-prev .fa {
  transform: rotate(45deg);
}
#intro .owl-buttons .owl-next {
  transform: rotate(-45deg);
}
#intro .owl-buttons .owl-next .fa {
  transform: rotate(45deg);
}
