<div class="modal fade bs-example-modal-lg" id="myModal_slider_{{childNode.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="uou-block-3b secondary">

        <h1 class="modal-title" id="myModalLabel_slider_{{childNode.id}}">Slider</h1>



        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div> <!-- end uou-block-3b -->

      <div class="modal-body">

        <div class="row">

          <div class="col-md-4">
            <form class="form-horizontal" role="form">
            <div class="form-group">
              
                <input type="text" class="form-control"   ng-model="slidertitle" placeholder="Title">
              
            </div>

            <div class="form-group">
              
                <textarea style="width:300px;height:200px;" class="form-control"  ng-model="slidertext" placeholder="Text"></textarea>
              
            </div>
            <div class="form-group">
              
                <img src='{{sliderimage}}'>
                <span  class="btn btn-success fileinput-button">
                    <span>Image</span><input filemodel ng-model="sliderimage" type="file"/>
                  </span>
                
              </div>


          </form>
          </div>

          <div class="col-md-6">

              <script type="text/ng-template" id="items_renderer_slider.html">
                <div ui-tree-handle>
                  <a class="btn btn-success btn-xs" data-nodrag ng-click="toggle(this)">
                  	<img style="width:50px;" src="{{item.image}}"/>
                  </a>
                  {{item.title}}
                  <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)"><span class="glyphicon glyphicon-remove"></span></a>

                </div>
                
              </script>
              <div ui-tree="options">
                <ol ui-tree-nodes ng-model="childNode.widgetdata.blocks" >
                  <li ng-repeat="item in childNode.widgetdata.blocks" ui-tree-node ng-include="'items_renderer_slider.html'"></li>
                </ol>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer clearfix">
           <div class="form-group">

             <button class="btn btn-success" ng-model="childNode.widgetdata.blocks" addsliderfrommodal>Add</button>
            

          </div>
        </div>
      </div>

    </div>
  </div>
</div>
