.constraction-content-all{
	position: relative;

	.btn-warning,
	.block-title-conten h4 {
		color: @uou-text-color;
	}

	.uou-block-content {
		padding-top: 30px;
		padding-bottom: 20px;
	}

}


@import "constraction-slider.less" ;
@import "constraction-service.less" ;
