.constraction-content-all{
	position: relative;

	.btn-warning,
	.block-title-conten h4 {
		color: @uou-text-color;
	}

	.uou-block-content {
		padding-top: 30px;
		padding-bottom: 20px;
	}

}

.uou-con-team {
	.uou-block-6a {
		h6 {
			color: @uou-text-color;
		}
	}
}

.con-testimonial-content {
	.uou-block-5a {
		cite {
			color: @white;
		}
	}
}


.uou-constraction-toolbar {
	.uou-block-1a {
		background: @uou-text-color;

		.toggle,
		.search.active .toggle,
		.search-input,
		input,
		.authentication li a{
			color: @white;
		}
	}
}


@import "constraction-slider.less" ;
@import "constraction-service.less" ;
@import "constraction-portfolio.less" ;
@import "constraction-blog.less" ;
@import "constraction-footer.less" ;



